In [18]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import questionary
import datetime
%matplotlib inline

In [19]:
# Load the environment variables from the .env file
#by calling the load_dotenv function
load_dotenv()

True

In [20]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# Create the Alpaca tradeapi.REST object
# YOUR CODE HERE
alpaca = tradeapi.REST(
            alpaca_api_key,
            alpaca_secret_key,
            api_version = "v2")

In [25]:
#tickers= questionary.text(f"What ETFs do you want to run the Monte Carlo Simulation on?"
                            #"Enter tickers in the following format", default=["SPY", "AGG"]).ask()

#print(f"Preparing 3 years of historical data for requested tickers... ")
                          
timeframe = "1D"

today = str(datetime.datetime.today()).split()[0]

three_years_ago= str(datetime.datetime.today()- datetime.timedelta(days=1095)).split()[0]

start_date= pd.Timestamp(three_years_ago, tz="America/New_York").isoformat()

end_date= pd.Timestamp(today, tz="America/New_York").isoformat()
                       
limit_rows=1000
                           
tickers=["AGG", "SPY"]

SyntaxError: invalid syntax (<ipython-input-25-5c4927e9a458>, line 4)

In [23]:
alpaca_df= alpaca.get_barset(
               tickers,
               timeframe,
               limit= limit_rows,
               start = start_date,
               end = end_date
).df

display(alpaca_df.head())
display(alpaca_df.tail())

                              AGG                                         \
                             open     high       low    close     volume
time
2018-08-13 00:00:00-04:00  106.16  106.300  106.1501  106.285  2558386.0
2018-08-14 00:00:00-04:00  106.30  106.330  106.1600  106.190  3862629.0
2018-08-15 00:00:00-04:00  106.29  106.440  106.2500  106.335  4093893.0
2018-08-16 00:00:00-04:00  106.38  106.420  106.2400  106.390  2135827.0
2018-08-17 00:00:00-04:00  106.43  106.545  106.3800  106.460  1915186.0

                              SPY
                             open      high       low   close    volume
time
2018-08-13 00:00:00-04:00  283.47  284.1600  281.7700  282.05  49247799
2018-08-14 00:00:00-04:00  282.92  284.1700  282.4833  283.86  32906829
2018-08-15 00:00:00-04:00  282.38  282.5400  280.1600  281.76  76384638
2018-08-16 00:00:00-04:00  283.40  285.0400  283.3600  284.10  49048421
2018-08-17 00:00:00-04:00  283.83  285.5601  283.3700  285.02  43630918

                              AGG                                        \
                             open      high      low   close     volume
time
2021-08-06 00:00:00-04:00  115.93  116.0200  115.780  115.79  3125122.0
2021-08-09 00:00:00-04:00  115.89  115.9600  115.580  115.59  5003990.0
2021-08-10 00:00:00-04:00  115.65  115.6500  115.435  115.44  6692325.0
2021-08-11 00:00:00-04:00  115.46  115.7000  115.340  115.55  6423130.0
2021-08-12 00:00:00-04:00  115.49  115.5799  115.400  115.54  4248390.0

                              SPY
                             open      high     low   close    volume
time
2021-08-06 00:00:00-04:00  442.10  442.9400  441.80  442.52  40274051
2021-08-09 00:00:00-04:00  442.45  442.7950  441.31  442.14  32740524
2021-08-10 00:00:00-04:00  442.61  443.4400  441.88  442.66  39129442
2021-08-11 00:00:00-04:00  443.80  443.8820  442.62  443.74  35841235
2021-08-12 00:00:00-04:00  443.62  445.2572  442.66  445.08  34892086

In [6]:
def get_user_input_MC():
    """Prompt dialog to dynamically get the data needed to run personalised Monte Carlo Simulations.

    Returns:
        Returns the user's input needed to run MC Simulation.
    """

    weights= questionary.text("How do you want to weigh your portfolio? Enter percentage weights 
                              "separated by comas in the following format i.e [.4,.6]",
                              default= "[]").ask()
    num_simulation= questionary.select("How many simulations would you like to run?", choices=[250, 500, 1000]).ask()
    num_of_years= questionary.text("How many years of cumulative returns would you like to forecast?").ask()
   
    x = data.loc[x]
    weights = float(weights)
    num_simulation = int(num_simulation)
    num_of_years = int(num_of_years)

    return x, weights, num_simulation, num_of_years

SyntaxError: EOL while scanning string literal (<ipython-input-6-9d80234b81c6>, line 8)

In [ ]:
""" Runs personalised Monte Carlo Simulation per parameters supplied by the user """
MCSim = MCSimulation(portfolio_data, 
                      weights,
                      num_simulation ,
                     num_trading_days = 252 * num_of_years)